sphinx==4.5.0
sphinx-autodoc-typehints==1.18.1
simple-parsing==0.0.19.post1
bytecode==0.13.0
typing_inspect==0.7.1
jellyfish==0.9.0
networkx==2.8
pydot==1.4.2
rich==12.4.1
pytest==7.1.2
Jinja2==3.1.2
Pygments==2.12.0
ordered-set==4.1.0
MutPy-Pynguin==0.7.1
